<html>
	<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>
			         {% block title %} 
					                Digital 
					 {% endblock %}
			</title>
			{% block stylesheets %}
					<link rel="stylesheet" href="{{ asset('css/chromatron.css') }}"type="text/css" />
			{% endblock %}
	</head>
	<body>
		<div id="header" class="hero-unit">
				<h1>Digital Champ</h1>
				<p>
					 With Symfony :) .
				</p>

		   </div>
		<section class="navigation-block">
	
				<!-- User profile -->
				<section class="user-profile">
					<figure>
						<img src="{{asset('images/admin.png')}}" alt="John Pixel avatar">
						<figcaption>
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							 
									<strong><a class="" href="#">Connecté : {{ app.user.username }} </a></strong>
									<em>{{ app.user.roles[0] }}</em>
							        <ul>							
										<li><a title="logout" href="{{path('fos_user_security_logout') }}" class="btn btn-primary btn-flat">logout</a></li>
							       </ul>
							{% endif %}	
							
							
							 
						</figcaption>
					</figure>
				</section>
				<!-- /User profile -->
				
				
				<!-- Main navigation -->
				<nav role="navigation" class="main-navigation nav-collapse">
						<ul>
						{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						    <li>
								<a class="no-submenu" href="{{path('fos_user_security_login')}}"><span class="fam-rosette"></span>Login</a>
							</li>
						 {%endif%}
							<li>
								<a class="no-submenu" href="{{path('user_homepage')}}"><span class="fam-heart"></span>Home Page</a>
							</li>
							<li>
								<a class="no-submenu" href="{{path('user_add')}}"><span class="fam-add"></span>Add User</a>
							</li>
						</ul>
				</nav>
				<!-- /Main navigation -->
				
			</section>
			<section role="main" class="content-block">
                   {% block body %}
											   
				   {% endblock %}
	      </section>
		
		{% block javascripts %}
		
		<script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}"></script>
		
		{% endblock %}
	</body>
</html>